 
/* .container {
  width: 793px;
  height: 1122px;
  background-size: cover;
  background-image: url({{ asset('img/Template1.png') }});
} */
#photo {
    margin: auto;
    width: 14%;
    border: 3px solid #73AD21;
    /* padding: 10px; */
    height: 15%;
  }
  .container {
        position: absolute;
        top: 0;
        left: 0;
        background-image: url("https://raw.githubusercontent.com/iipmuhamadikbal/tes/master/Template1.png");
        height: 100%;
        width: 100%;
        background-position: center top;
        background-repeat: no-repeat;
        z-index: -1;
  }
  .helper {
      /* #position: absolute;
      #top: 20%;
      display: table-cell;
      vertical-align: middle; */
      margin: 100px;
  }
  .content {
      position: relative;
      top: -20%;
      margin: auto;
  }
  .center {
    text-align: center;
  }
    
  #title {
          font-size: 22pt;
          font-family: calibri !important;
          font-style: bold;
          font-weight: normal;
      }
      #cr {
      font-family: calibri !important;
      font-size: 15pt;
    }
      body {
          font-family: spec_font !important;
          font-size: 12pt;
          position: relative;
      }
    #pemilik {
          font-size: 16pt;
              font-family: calibri !important;
          font-weight: bold;
      }
